@using Implementacija.Services
@using Microsoft.AspNetCore.Identity
@using System.Web
@model IEnumerable<Implementacija.Models.Koncert>
@inject IKoncertManager koncertManager
@inject ITicketManager TicketManager
@inject IDvoranaManager dvoranaManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var concerts = await koncertManager.GetAll();
    var recommended = koncertManager.GetRecommended();
    var owned = TicketManager.GetOwned(UserManager.GetUserId(User));
    var concertHalls = await dvoranaManager.GetAll();
    var concerHallsThatAreNotTaken = await dvoranaManager.GetUnreserved();
    var reservedConcertHalls = await dvoranaManager.GetReservedByCurrentPerformer();
    var ownedHalls = await dvoranaManager.GetOwnedByCurrentRenter();
    var reservedHalls = await dvoranaManager.GetReservations();


}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            text-align: start;
        }

        .image-container {
            height: 25em;
            overflow: hidden;
        }

        img {
            width: 100%;
        }

        .description {
            margin-top: 3%;
            color: darkgray;
            font-size: 1.5em;
        }

            .description b {
                font-weight: bold;
            }

        table {
            margin-top: 2%;
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid lightgray;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
<br />
    <h2>Aktuelni koncerti</h2>
    <table>
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Izvođač</th>
            <th>Žanr</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
           
            
                @foreach (var item in concerts)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.naziv)</td>
                        <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.izvodjacId).Result.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.zanr)</td>
                        <td>
                            <a class="details-link" asp-controller="Koncert" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            
           
    </tbody>
</table>
<br />
    <h2>Preporučeni koncerti</h2>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Izvođač</th>
                <th>Žanr</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in recommended)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.naziv)</td>
                    <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.izvodjacId).Result.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.zanr)</td>
                    <td>
                        <a class="details-link" asp-controller="Koncert" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<br />

    @if (User.IsInRole("Izvodjac") || User.IsInRole("Iznajmljivac"))
    {
        <br />
        <h2>Dvorane</h2>
       
        <table>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Iznajmljivac</th>
                    <th>Broj Sjedista</th>
                    <th>Adresa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @if (User.IsInRole("Iznajmljivac"))
                {
                    @foreach (var item in concertHalls)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.nazivDvorane)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.iznajmljivacId).Result.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.brojSjedista)</td>
                            <td>@Html.DisplayFor(modelItem => item.adresaDvorane)</td>
                            <td>
                                <a class="details-link" asp-controller="Dvorana" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                }
                @if (User.IsInRole("Izvodjac"))
                {
                    @foreach (var item in concerHallsThatAreNotTaken)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.nazivDvorane)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.iznajmljivacId).Result.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.brojSjedista)</td>
                            <td>@Html.DisplayFor(modelItem => item.adresaDvorane)</td>
                            <td>
                                <a class="details-link" asp-controller="Dvorana" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                }


        </tbody>
    </table>
        <br />
    }

@if (User.IsInRole("Izvodjac"))
    {
        <br />
        <h2>Rezervisane Dvorane</h2>
        <table>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Iznajmljivac</th>
                    <th>Broj Sjedista</th>
                    <th>Adresa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in reservedConcertHalls)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.nazivDvorane)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.iznajmljivacId).Result.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.brojSjedista)</td>
                            <td>@Html.DisplayFor(modelItem => item.adresaDvorane)</td>
                            <td>
                                <a class="details-link" asp-controller="Dvorana" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                            </td>
                        </tr>
                    }


            </tbody>
        </table>
    }

@if (User.IsInRole("ObicniKorisnik"))
    {
        <h2>Vaše Karte</h2>
        @if (owned != null && owned.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>TipMjesta</th>
                        <th>Izvođač</th>
                        <th>Žanr</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in owned.ToList())
                    {
                        <tr>
                            @{
                                var parameter2= TicketManager.GetGuy(item.koncertId);
                            }
                            <td>@Html.DisplayFor(modelItem => item.koncert.naziv)</td>
                            <td>@Html.DisplayFor(modelItem => item.tipMjesta)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(parameter2).Result.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.koncert.zanr)</td>
                            <td>
                            
                                <a class="details-link" asp-controller="Koncert" asp-action="Details" asp-route-id="@item.koncertId">Details</a>
                            
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <b>Nemate trenutno kupljenih karata.</b>
        }

    }


    @if (User.IsInRole("ObicniKorisnik"))
    {
        <h2>Koncerti u blizini</h2>
        <div style="margin-top: 2%; margin-bottom: 2%">
            <div id="myMap" style="position:relative;width:1300px;height:400px;"></div>
        </div>

        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>

        <script type='text/javascript'>
            function GetMap() {
                var map = new Microsoft.Maps.Map('#myMap', {
                    credentials: 'AuUsqVpLHw7AixifRLyTzgcECS6DV0oonRx65hJH2PmoF3dCEOdZtq0nGYIUqhEa',
                    center: new Microsoft.Maps.Location(43.8563, 18.4131),
                    mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                    zoom: 10
                });

                infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
                    visible: false
                });

                infobox.setMap(map);

                var etf = new Microsoft.Maps.Location(43.8563, 18.3959);
                var pin = new Microsoft.Maps.Pushpin(etf);

                pin.metadata = {
                    title: 'Naziv',
                    description: 'Izvođač',
                    link: '<a href="/Koncert/Details/1" class="details-link">Details</a>'
                };

                Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);

                map.entities.push(pin);
            }

            function pushpinClicked(e) {
                if (e.target.metadata) {
                    infobox.setOptions({
                        location: e.target.getLocation(),
                        title: e.target.metadata.title,
                        description: e.target.metadata.description + ' ' + e.target.metadata.link,
                        visible: true
                    });
                }
            }
        </script>
    }



    
@if (User.IsInRole("Iznajmljivac")){
        
            <h2>Vaše Dvorane</h2>
            @if (ownedHalls != null && ownedHalls.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>Naziv</th>
                            <th>Iznajmljivac</th>
                            <th>Broj Sjedista</th>
                            <th>Adresa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ownedHalls.ToList())
                        {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.nazivDvorane)</td>
                                <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.iznajmljivacId).Result.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.brojSjedista)</td>
                                <td>@Html.DisplayFor(modelItem => item.adresaDvorane)</td>
                                <td>
                                    <a class="details-link" asp-controller="Dvorana" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            <br />
            }

        
    else
    {
        <b>Trenutno nemate dvorana.</b>
    }
    }


    @if (User.IsInRole("Iznajmljivac"))
    {

        <h2>Vaše Rezervisane Dvorane</h2>
        @if (reservedHalls != null && reservedHalls.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Dvorana</th>
                        <th>Izvodjac</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in reservedHalls.ToList())
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.dvorana.nazivDvorane)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.izvodjacId).Result.UserName)</td>
                            <td>
                                <a class="details-link" asp-controller="Koncert" asp-action="Create" asp-route-id="@item.izvodjacId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        }


        else
        {
            <b>Trenutno nemate rezervacija dvorana.</b>
        }
    }

</body>
</html>
