@using Implementacija.Services
@using Microsoft.AspNetCore.Identity
@using System.Web
@model IEnumerable<Implementacija.Models.Koncert>
@inject IKoncertManager koncertManager
@inject ITicketManager TicketManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var concerts = await koncertManager.GetAll();
    var recommended = koncertManager.GetRecommended();
    var owned = TicketManager.GetOwned(UserManager.GetUserId(User));
    

}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            text-align: start;
        }

        .image-container {
            height: 25em;
            overflow: hidden;
        }

        img {
            width: 100%;
        }

        .description {
            margin-top: 3%;
            color: darkgray;
            font-size: 1.5em;
        }

            .description b {
                font-weight: bold;
            }

        table {
            margin-top: 2%;
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid lightgray;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
<br />
    <h2>Aktuelni koncerti</h2>
    <table>
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Izvođač</th>
            <th>Žanr</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
           
            
                @foreach (var item in concerts)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.naziv)</td>
                        <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.izvodjacId).Result.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.zanr)</td>
                        <td>
                            <a class="details-link" asp-controller="Koncert" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            
           
    </tbody>
</table>
<br />
    <h2>Preporučeni koncerti</h2>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Izvođač</th>
                <th>Žanr</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in recommended)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.naziv)</td>
                    <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.izvodjacId).Result.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.zanr)</td>
                    <td>
                        <a class="details-link" asp-controller="Koncert" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<br />
<h2>Vaše Karte</h2>
    @if (owned != null && owned.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>TipMjesta</th>
                    <th>Izvođač</th>
                    <th>Žanr</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in owned)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.koncert.naziv)</td>
                        <td>@Html.DisplayFor(modelItem => item.tipMjesta)</td>
                        <td>@Html.DisplayFor(modelItem => item.koncert.izvodjac.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.koncert.zanr)</td>
                        <td>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else 
    {
        <b>Nemate trenutno kupljenih karata.</b>
    }

    
</body>
</html>
