@using Implementacija.Services
@using Microsoft.AspNetCore.Identity
@using System.Web
@model IEnumerable<Implementacija.Models.Koncert>
@inject IKoncertManager koncertManager
@inject ITicketManager TicketManager
@inject IDvoranaManager dvoranaManager
@inject IRezervacijaManager rezervacijaManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var concerts = await koncertManager.GetAll();
    var recommended = koncertManager.GetRecommended();
    var owned = TicketManager.GetOwned(UserManager.GetUserId(User));
    var concertHalls = await dvoranaManager.GetAll();
    var concerHallsThatAreNotTaken = await dvoranaManager.GetUnreserved();
    var reservedConcertHalls = await dvoranaManager.GetReservedByCurrentPerformer();
    var ownedHalls = await dvoranaManager.GetOwnedByCurrentRenter();
    var reservedHalls = await dvoranaManager.GetReservations();


}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            text-align: start;
        }

        .image-container {
            height: 25em;
            overflow: hidden;
        }

        img {
            width: 100%;
        }

        .description {
            margin-top: 3%;
            color: darkgray;
            font-size: 1.5em;
        }

            .description b {
                font-weight: bold;
            }

        table {
            margin-top: 2%;
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid lightgray;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <span class="text-danger">@TempData["ErrorMessage"]</span>
    <br />
    <h2>Aktuelni koncerti</h2>
    <p>
        <a asp-controller="Koncert" asp-action="Create">Registriraj Koncert</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Datum</th>
                <th>Izvođač</th>
                <th>Žanr</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in concerts)
            {
                <!--Za vlasnika samo prikazujemo koncerte  koji su u njegovim dvoranama-->
                @if (!User.IsInRole("Iznajmljivac") || rezervacijaManager.HasReservation(item.izvodjacId))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.naziv)</td>
                        <td>@Html.DisplayFor(modelItem => item.datum)</td>
                        <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.izvodjacId).Result.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.zanr)</td>
                        <td>
                            @if (User.IsInRole("ObicniKorisnik"))
                            {
                                <a class="details-link" asp-controller="Koncert" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            }
                            @if (User.IsInRole("Iznajmljivac"))
                            {
                                <a class="details-link" asp-controller="Koncert" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </td>
                </tr>
                }
            }


        </tbody>
    </table>
    <br />
    @if (User.IsInRole("ObicniKorisnik"))
    {
        <h2>Preporučeni koncerti</h2>
        <table>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Izvođač</th>
                    <th>Žanr</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in recommended)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.naziv)</td>
                    <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.izvodjacId).Result.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.zanr)</td>
                    <td>
                        <a class="details-link" asp-controller="Koncert" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>}
    <br />

    @if (User.IsInRole("Izvodjac"))
    {
        <br />
        <h2>Dvorane</h2>
        @if (User.IsInRole("Iznajmljivac"))
        {
            <p><a asp-controller="Dvorana" asp-action="Create">Create New</a></p>
        }
        <table>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Iznajmljivac</th>
                    <th>Broj Sjedista</th>
                    <th>Adresa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @if (User.IsInRole("Iznajmljivac"))
                {
                    @foreach (var item in concertHalls)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.nazivDvorane)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.iznajmljivacId).Result.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.brojSjedista)</td>
                            <td>@Html.DisplayFor(modelItem => item.adresaDvorane)</td>
                            <td>
                                <a class="details-link" asp-controller="Dvorana" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                }
                @if (User.IsInRole("Izvodjac"))
                {
                    @foreach (var item in concerHallsThatAreNotTaken)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.nazivDvorane)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.iznajmljivacId).Result.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.brojSjedista)</td>
                            <td>@Html.DisplayFor(modelItem => item.adresaDvorane)</td>
                            <td>
                                <a class="details-link" asp-controller="Dvorana" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    }

    @if (User.IsInRole("Izvodjac"))
    {
        <br />
        <h2>Rezervisane Dvorane</h2>
        <table>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Iznajmljivac</th>
                    <th>Broj Sjedista</th>
                    <th>Adresa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in reservedConcertHalls)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.nazivDvorane)</td>
                        <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.iznajmljivacId).Result.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.brojSjedista)</td>
                        <td>@Html.DisplayFor(modelItem => item.adresaDvorane)</td>
                        <td>
                            <a class="details-link" asp-controller="Dvorana" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    }

    @if (User.IsInRole("ObicniKorisnik"))
    {
        <h2>Vaše Karte</h2>
        @if (owned != null && owned.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>TipMjesta</th>
                        <th>Izvođač</th>
                        <th>Žanr</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in owned.ToList())
                    {
                        <tr>
                            @{
                                var parameter2 = TicketManager.GetGuy(item.koncertId);
                            }
                            <td>@Html.DisplayFor(modelItem => item.koncert.naziv)</td>
                            <td>@Html.DisplayFor(modelItem => item.tipMjesta)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(parameter2).Result.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.koncert.zanr)</td>
                            <td>

                                <a class="details-link" asp-controller="Koncert" asp-action="Details" asp-route-id="@item.koncertId">Details</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

            }

    @if (User.IsInRole("Iznajmljivac"))
    {

        <h2>Vaše Dvorane</h2>
        @if (ownedHalls != null && ownedHalls.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Iznajmljivac</th>
                        <th>Broj Sjedista</th>
                        <th>Adresa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ownedHalls.ToList())
                    {

                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.nazivDvorane)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.iznajmljivacId).Result.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.brojSjedista)</td>
                            <td>@Html.DisplayFor(modelItem => item.adresaDvorane)</td>
                            <td>
                                <a class="details-link" asp-controller="Dvorana" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        }


        else
        {
            <b>Trenutno nemate dvorana.</b>
        }
    }

    @if (User.IsInRole("Iznajmljivac"))
    {

        <h2>Vaše Rezervisane Dvorane</h2>
        @if (reservedHalls != null && reservedHalls.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Dvorana</th>
                        <th>Izvodjac</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in reservedHalls.ToList())
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.dvorana.nazivDvorane)</td>
                            <td>@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.izvodjacId).Result.UserName)</td>
                            <td>
                                <a class="details-link" asp-controller="Koncert" asp-action="CreateKoncert" asp-route-id="@item.izvodjacId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        }


        else
        {
            <b>Trenutno nemate rezervacija dvorana.</b>
        }
    }


</body>
</html>